body {
    font-family: Arial, sans-serif;
              background-color: white;
              background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsqLhEi62oJ7lzRp-TNp2gCDXaKlhzQKz7cw&s);
              margin: 0;
              padding: 20px;
          }
          
  #survey-form {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
          }
          
  h1 {
    text-align: center;
    color: rgb(255, 0, 13);
          }
  
  label {
    margin-top: 10px;
    display: block;
          }
  
  p {
    text-align: center;
    color: rgb(0, 255, 128);
  }
          
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
          }
        
  button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
          }
          
  button:hover {
    background-color: #218838;
          }